html
  head
    title Error 404 (Page not found) - Kana Flash

    link(rel='stylesheet', hred='/stylesheets/reset.css')

    style

  body
    h1 OH NOES The page disappeared!
    
    p 
      |The page 
      code #{ req.url }
      |  does not exist.

    p
      |Why not stare at 
      a(href='http://www.nyan.cat') Nyan cat
      |  in the meanwhile?

    img(src='/images/nyancat.gif', alt='Yayyyyy!') 
