- title.set("About Us")

h1 About Us
p
  |We wanted to make a site that we would want to use to learn katakana and hiragana.
  |Thus, Kana Flash was born. 
br
p
  |The source code is available 
  a(href='https://github.com/cwu/kanaflash') here
br
p
  a(href='/contact/') Share your feedback and suggestions with us!
