- jsIncludes.add("practice")


#kana-filter.center

#practice
  p.kana ...
  #textframe
    input(type="text", autocomplete="off")
  p.response
  .skip-button &gt;


script(type="text/template", id="kanafilter-template")
  <% if (hiragana) %>
  span.select-button.selected(data-charset="hiragana") Hiragana
  <% else %>
  span.select-button.unselected(data-charset="hiragana") Hiragana

  <% if (katakana) %>
  span.select-button.selected(data-charset="katakana") Katakana
  <% else %>
  span.select-button.unselected(data-charset="katakana") Katakana

