p 
  |Welcome to Kana Flash. It's a simple way of learning Hiragana and Katakana.

#practice
  p.kana ...
  #textframe
    input(type="text", autocomplete="off")
  p.response

script(src="/javascripts/practice.js")
