!!! 5
html
  head
    title #{title} - Kana Flash

    script(src="/javascripts/html5.js")
    - if (app.NODE_ENV == 'production')
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js")
      script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js")
    - else
      script(src="/javascripts/jquery-1.6.1.js")
      script(src="/javascripts/jquery-ui-1.8.13.js")
    script(src="/javascripts/underscore-min.js")
    script(src="/javascripts/backbone-min.js")

    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui-1.8.13.css')
    link(rel='stylesheet', href='/stylesheets/all.css')
    link(rel='stylesheet', href='/stylesheets/kana.css')

    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23483148-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body
    #top_banner
    #main
      header
        != partial('header', {})
      #content
        != body
      footer
