!!! 5
html
  head
    - if (typeof(title) != 'undefined')
      title #{ title } - Kana Flash
    - else
      title Kana Flash

    != partial('seo')

    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/all.css')

    - each css in cssIncludes.get()
      link(rel='stylesheet', href='/stylesheets/' + css + '.css')

    script(src="/javascripts/lib/html5.js")
    - if (NODE_ENV == 'production' )
      script(src="http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js")
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js")
      script(src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.1.6/underscore-min.js")
      script(src="/javascripts/lib/backbone-min.js")
    - else
      link(rel="stylesheet", href="/stylesheets/lib/prettify.css")

      script(src="/javascripts/lib/json2.js")
      script(src="/javascripts/lib/jquery-1.6.1.js")
      script(src="/javascripts/lib/underscore.js")
      script(src="/javascripts/lib/backbone.js")
      script(src="/javascripts/lib/prettify.js")
      script(type="text/javascript")
        $(document).ready(prettyPrint);

    - each js in jsIncludes.get()
      script(src='/javascripts/' + js  + '.js')

    - if (NODE_ENV == 'production' )
      script(type="text/javascript")
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-23483148-2']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  body
    #top_banner
    #main
      header
        != partial('header')
      #content
        != body
    #spacer
    footer
      | Blah. Winter is coming.
      a(href='/about/') About
      | 
      a(href='/') Terms and Conditions

      - if (NODE_ENV != 'production')
        pre.prettyprint.debug-dump
          span session = 
          #{ JSON.stringify(req.session, null, 4) }
