script
  $(document).ready(function() {
    $('nav#practice').tabs();
  });

h1 Practice me

nav#practice
  ul
    li
      a(href="#practice") Practice
    li
      a(href="#katakana") Katakana
    li
      a(href="#hiragana") Hiragana
    li
      a(href="#settings") Settings
  #practice
    h1 practice
  #katakana
    h1 katakana
  #hiragana
    h1 hiragana
  #settings
    h1 settings

