meta(name="keywords", content="learn,study,hiragana,katakana,japanese,kana,flash,flashcards")
meta(name="description", content="Easy and addicting way to learn hiragana and katakana")
meta(name="publication", content="Kana Flash")
