- title.set("Stats")
- cssIncludes.add('stats')
- jsIncludes.add('stats')

h1 My Stats
nav#tabs
  //a(href="#summary").selected Summary
  a(href="#hiragana").selected Hiragana
  a(href="#katakana") Katakana

//div#summary-tab
//  | Summary bitches

- map2kana = map2hiragana
div(style="display:none")#hiragana-tab
  table.kana-chart#hiragana-chart
    != partial('kanaChart')

- map2kana = map2katakana
div(style="display:none")#katakana-tab
  table.kana-chart#katakana-chart
    != partial('kanaChart')
