body
  font 18px "Lucida Grande", Helvetica, Arial, sans-serif
  color #444444
  background-color #f1f0ff

a, a:visited
  color #3e8ef0

border-radius()
 -webkit-border-radius arguments
 -moz-border-radius arguments
 border-radius arguments

rounded-top()
 -webkit-border-top-left-radius arguments
 -webkit-border-top-right-radius arguments
 -moz-border-radius-topleft arguments
 -moz-border-radius-topright arguments
 border-top-left-radius arguments
 border-top-right-radius arguments

rounded-bottom()
 -webkit-border-bottom-left-radius arguments
 -webkit-border-bottom-right-radius arguments
 -moz-border-radius-bottomleft arguments
 -moz-border-radius-bottomright arguments
 border-bottom-left-radius arguments
 border-bottom-right-radius arguments

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments

no-select()
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;


#top_banner
  z-index: -1000
  position absolute
  top 0
  left 0
  width 100%

$banner-height = 60px
#top_banner, header
  height $banner-height

header
  position relative
  padding 20px 20px
  color #ff6f20
  h1
    line-height $banner-height
    font-size $banner-height
  nav
    display inline-block
    position absolute
    top 20px 
    right 20px
    a, a:visited
      color #444444
      text-decoration none
      padding 5px 10px
      margin 5px
      line-height $banner-height
      border-radius 5px
    a:hover
      color #ff6f20
      background-color #dfe6f0

$radius = 10px
$page-width = 710px
#main
  width $page-width
  margin 0 auto
  margin-top 40px
  padding 0 5px
  background-color #ccdcf0
  border-radius $radius 
  box-shadow 5px 5px 10px #a3b29f

.center
  text-align center

a.large-button
  border-radius 10px
  color #FFFFFF
  background-color #0ADB0D
  text-decoration none
  padding 15px 30px
  font-size 40px
  font-weight bold
  display inline-block
  text-align center
  margin 20px 0

#content
  padding 25px
  position relative

#flashcard
  width 300px
  height 300px
  margin 10px auto
  text-align center
  p.kana
    font-size 100px
    line-height 100px*1.5
    height 100px*1.5
    display block
  input[type=text]
    width 150px
  p.response
    font-size 22px
    line-height 22px
    height 22px

.textframe
  margin 10px auto
  width 160px
  padding 5px 5px
  border-radius 5px

.correct
  background-color #5aff3d

.wrong
  background-color #FF0000

.prompt
  color #B0B0B0
  text-decoration italic

ul#kana_select.horizontal
  text-align center
  li
    display inline

.select-button
  border-radius 5px
  text-decoration none
  color #FFFFFF
  padding 5px 7px
  font-size 20px
  font-weight bold
  display inline-block
  text-align center
  margin 5px 5px
  cursor pointer
  no-select 1

.select-button.selected
  background-color #18DB1B

.select-button.selected:hover
  background-color #00f000

.select-button.unselected
  background-color #767676

.select-button.unselected:hover
  background-color #888888

.no-select
  no-select 1

span.skip-button
  border-radius 5px
  padding 3px 5px
  background-color #18DB1B
  color #FFFFFF
  text-decoration none
  font-size 18px
  font-weight bold
  text-align center
  cursor pointer
  no-select 1

.skip-button:hover
  background-color #00f000

#spacer
  height 2em

footer
  font-size 10px
  color #444444
  text-align center
  height 4em
  a, a:visited
    color #444444
pre.prettyprint.debug-dump
  text-decoration none
  text-decoration none
  font-family courier new,consolas, helvetica, comic sans
  font-size 16px
  text-align left
  width $page-width
  margin 30px auto
  border none
.clear
  clear both
.left-align
  text-align left
